@charset "utf-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root{
    --greenbean:#7e8c24;
    --h3text:#959595;
    --customgray:#c4c4c4;
    --custombtn:rgba(0,0,0,.5);
}

.bg-greenbean {
    background: var(--greenbean);
}
.bg-circlebtn{
    color:white;
    background: var(--custombtn);
}
.bg-ship{
    color:black;
    background: var(--customgray);
}

.banner-text {
    font-size: 1rem;
}

.only-pc a {
    color: inherit;
}

.header_top>ul {
    column-gap: 1rem;
}

#topNav {
    font-size: .875rem;
}

.main-logo {
    max-width: 309px;
}

.main-logo img {
    width: 100%;
    object-fit: cover;
}

.main-title{
    color: var(--h3text);
    font-size:2rem;
}
.sub-title{
    font-size:3rem;
}



.nav-pills .nav-link.active{
    border:none;
    color: #fff;
    background-color: var(--greenbean);
}
.nav-pills .nav-link{
    border:none;
    background-color: var(--customgray);
}
.nav-pills{
    gap:1rem;
}

aside{
    color:white;
    font-size: 1.2rem;
}

.move-top a{
    background: var(--custombtn);
}
.move-top a{
    color: white;
}





    @media screen and(max-width:576px) {
        html {
            font-size: 20px;
        }
    }